{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}

{% block main %}
    <h1>Welcome to the Dashboard</h1>
    <h2>Play Summary</h2>
    <h3>Title: Entranced by BSS</h3>
    <h3>Location: Teater Jakarta TIM</h3>
    <h3>About:</h3>
    <p>In a town where mythical tales are passed down through generations, a young Tania Karajan finds herself in the shadows of her two best friends star student Malik Kirana and the beautiful, captivating Dalia Indrawan. However, everything changes when her path crosses with the mystical witch Calon Arang, who offers her an opportunity to break free from her life in the shadows. The curses placed on her friends, she thinks, are harmless, and Tania is granted the very desires she believes will fulfill her. Tania must embark on a journey of redemption and reconciliation, joined by the very friends and family she once envied, as they confront the vengeful Calon Arang and undo the damage caused by their own desires.    </p>
    <h3>Characters:</h3>
    <ul>
        <li>Main Cast</li>
        <ul>
            <li>Tania</li>
            <li>Dalia</li>
            <li>Malik</li>
            <li>Samir</li>
            <li>Calon Arang/ Wati</li>
        </ul>
        <li>Parent Cast</li>
        <ul>
            <li>Hari Karajan</li>
            <li>Amirah Karajan</li>
            <li>Suni Kirana</li>
            <li>Kartika Indrawan</li>
        </ul>
      </ul>

    <h3>Steps to Purchase Ticket: To be determined</h3>

{% endblock %}


