{% extends "layout.html" %}
{% block title %}Sales Summary{% endblock %}

{% block main %}
    <h1 class="h1Sum">Sales Summary</h1>
    <table class="tableSum">
        <thead>
            <tr>
                <th colspan="5">Matinee Sales</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="5">Tickets Bought per Category</td>
            </tr>
            <tr>
                <td>CAT 1</td>
                <td>CAT 2</td>
                <td>CAT 3</td>
                <td>CAT 4</td>
                <td>CAT 5</td>
            </tr>
            <tr>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td colspan="5">Sales per Category</td>
            </tr>
            <tr>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <thead>
                <tr>
                    <th colspan="5">Gala Sales</th>
                </tr>
            </thead>
            <tr>
                <td>CAT 1</td>
                <td>CAT 2</td>
                <td>CAT 3</td>
                <td>CAT 4</td>
                <td>CAT 5</td>
            </tr>
            <tr>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td colspan="5">Sales per Category</td>
            </tr>
            <tr>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>
    <br><br>
    <h3 class="h3Sum">Total Sales</h3>
    <table class="tableSum">
        <thead>
            <tr>
                <td>Total Matinee Sales</td>
                <td>Total Gala Sales</td>
                <td>Total Ticket Sales</td>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>

    </div>
{% endblock %}
